# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# networkign
network --bootproto=dhcp
# Root password
rootpw --plaintext vagrant
# my user
user --groups=wheel --name=vagrant --password=vagrant --plaintext --gecos="vagrant"
# System language
lang en_US.UTF-8
# Firewall configuration
firewall --disabled
# Reboot after installation
reboot
# System timezone
timezone Europe/Amsterdam --utc
# System authorization information
authselect  --enableshadow  --passalgo=sha512 --kickstart
# Use text mode install
text
# SELinux configuration
selinux --permissive
# Do not configure the X Window System
skipx
firstboot --disabled
# System bootloader configuration
bootloader --location=mbr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
autopart --type=lvm

%packages --ignoremissing
@core
@^minimal install
epel-release
openssh-clients
sudo
openssl-devel
readline-devel
zlib-devel
kernel-headers
kernel-devel
net-tools
vim
wget
curl
rsync
%end